.filter-box {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 2px solid #d9d9d9;   
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-checklist input {
    display: none;
}

.custom-checklist .Select-control, .custom-checklist label {
    display: block;
    padding: 4px 8px;
    margin-bottom: 4px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    background-color: #f9f9f9; 
    color: #333;              
    transition: 0.2s ease;
}

.custom-checklist input:checked + label {
    background-color: #007bff; 
    color: white;             
    font-weight: 500;
}

.custom-checklist label:hover {
    background-color: #e6f0ff;
}
